body{
    font: 20px Arial, sans-serif;
}
.navbar{
    background-color: cyan;
}
.nav-link{
    color: black;
}
.quem-somos{
    background-color: rgb(231, 226, 236);
    
}
.margin{
    padding-bottom: 50px;
    padding-top: 20px;
}
.parceiros{
    background-color: rgb(141, 111, 101);
}
.bg-footer{
    
    background: rgb(0, 0, 0);
    color: white;   
    padding: 5px;    
    
}